.svg-basket-dims {
	width: 32px;
	height: 32px;
}

.svg-card_fo-dims {
	width: 111px;
	height: 111px;
}

.svg-card_on-dims {
	width: 112px;
	height: 112px;
}

.svg-card_th-dims {
	width: 112px;
	height: 112px;
}

.svg-card_tw-dims {
	width: 111px;
	height: 111px;
}

.svg-dropdown-dims {
	width: 14px;
	height: 14px;
}

.svg-phone-dims {
	width: 29px;
	height: 29px;
}

.svg-search-dims {
	width: 30px;
	height: 30px;
}

.svg-user-dims {
	width: 20px;
	height: 20px;
}

