.svg-basket-dims {
	width: 32px;
	height: 32px;
}

.svg-card_fo-dims {
	width: 111px;
	height: 111px;
}

.svg-card_on-dims {
	width: 112px;
	height: 112px;
}

.svg-card_th-dims {
	width: 112px;
	height: 112px;
}

.svg-card_tw-dims {
	width: 111px;
	height: 111px;
}

.svg-dorohov-dims {
	width: 176px;
	height: 35px;
}

.svg-dropdown-dims {
	width: 14px;
	height: 14px;
}

.svg-email-dims {
	width: 29px;
	height: 29px;
}

.svg-form_phone-dims {
	width: 18px;
	height: 18px;
}

.svg-form_quest-dims {
	width: 12px;
	height: 20px;
}

.svg-phone-dims {
	width: 29px;
	height: 29px;
}

.svg-ruble-dims {
	width: 14px;
	height: 14px;
}

.svg-ruble_small-dims {
	width: 9px;
	height: 13px;
}

.svg-search-dims {
	width: 30px;
	height: 30px;
}

.svg-user-dims {
	width: 20px;
	height: 20px;
}

