<div class="pagination">
    <div class="pagination__inner">
        <ul>
            <li class="is--prev is--btn">
                <a href="#">@@include('component.svg.html', {"name": "dropdown"})</a>
            </li>
            <li><a href="#">1</a></li>
            <li><span>2</span></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="is--next is--btn">
                <a href="#">@@include('component.svg.html', {"name": "dropdown"})</a>
            </li>
        </ul>
    </div>
</div>