@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-Black.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-Black.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-Regular.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-Regular.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-ExtraLight.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-ExtraLight.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-Semibold.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-Semibold.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-Light.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-Light.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HypatiaSansPro';
    src: url('../../fonts/HypatiaSansPro-Bold.woff2') format('woff2'),
        url('../../fonts/HypatiaSansPro-Bold.woff') format('woff'),
        url('../../fonts/HypatiaSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

