.banner {
    background-image: url(../../img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    &__inner {
        min-height: calc(100vh - 130px);
        height: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 87px;
        line-height: 85.4%;
        color: #fff;
        margin: 0 0 75px 0;
    }
    &__btn {
        text-align: center;
        margin-bottom: 220px;
    }
}

.cards {
    background: #fff;
    &__list {
        display: flex;
        margin: 0 -15px;
        transform: translateY(-50%);
    }
    &__inner {
        max-height: 260px;
    }
    &__block {
        max-width: 25%;
        width: 100%;
        padding: 0 15px;
        text-align: center;
        &__inner {
            background: #FFFFFF;
            box-shadow: 2px -5px 24px rgba(0, 0, 0, 0.146);
            border-radius: 5px;
            padding: 60px 15px 50px 15px;
            height: 100%;
        }
        &__icon {
            margin-bottom: 75px;
            span {
                display: block;
                position: relative;
                z-index: 10;
                svg {
                    fill: #5A5A5A;
                }
                &::after {
                    z-index: -1;
                    content: '';
                    width: 112px;
                    height: 112px;
                    position: absolute;
                    border-radius: 100%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 30px;
                }
                &.is--primary {
                    &::after {
                        background: $c-primary;
                    }
                }
                &.is--secondary {
                    &::after {
                        background: $c-secondary;
                    }
                }
            }
        }
        &__text {
            font-size: 18px;
            line-height: 114%;
        }
    }
}

.catalog {
    &__list {
        padding-top: 120px;
        padding-bottom: 90px;
        &.is--page {
            padding-top: 50px;
            .dropdown-block {
                left: auto;
                right: 0;
            }
            .catalog__list__heading__mobile {
                margin: 0;
            }
        }
        &__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            &__left {
                .heading {
                    margin-bottom: 0;
                }
            }
            &__right {
                display: flex;
                align-items: center;
            }
            &__sort {
                position: relative;
                &__label {
                    cursor: pointer;
                    font-size: 18px;
                }
                &__list {
                    position: absolute;
                    background: #FFFFFF;
                    border-radius: 5px;
                    padding: 10px 0;
                    top: calc(100% + 10px);
                    left: 0;
                    ul {
                        li {
                            span {
                                white-space: nowrap;
                                display: block;
                                padding: 8px 20px;
                                cursor: pointer;
                                transition: .25s all ease;
                                font-size: 18px;
                                font-weight: 300;
                                &:hover {
                                    color: $c-primary;
                                }
                            }
                        }
                    }
                }
            }
            &__all,
            &__mobile {
                margin-left: 70px;
                a, span {
                    color: #262626;
                    font-size: 18px;
                }
                span {
                    cursor: pointer;
                }
            }
            &__mobile {
                display: none;
            }
        }
        &__wrap {
            display: flex;
        }
        &__aside {
            max-width: 310px;
            width: 310px;
            min-width: 310px;
            margin-right: 30px;
            .dropdown-block {
                left: 0 !important;
                right: auto !important;
            }
            &__mobile {
                display: none;
            }
            .catalog__list__heading__mobile {
                display: none;
            }
            &__dropdown {
                margin-bottom: 5px;
                &__label {
                    padding: 20px;
                    background: $c-primary;
                    border-radius: 5px;
                    font-weight: 600;
                    color: #fff;
                    line-height: 85.4%;
                    transition: .25s all ease;
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        background: $c-secondary;
                    }
                    span {
                        &.is--arrow {
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            margin-top: -7px;
                            transition: .25s all ease;
                            transform: rotate(-90deg);
                            svg {
                                fill: #fff;
                            }
                        }
                    }
                }
                &__list {
                    display: none;
                    padding: 0px 0px 10px 0px;
                    background: #fff;
                    ul {
                        li {
                            a {
                                display: block;
                                font-weight: 300;
                                color: #5A5A5A;
                                line-height: 85.4%;
                                padding: 9px 20px;
                                transition: .25s all ease;
                                &:hover {
                                    background: rgba(157, 192, 71, 0.15);
                                    color: #5A5A5A !important;
                                }
                            }
                            &.is--active {
                                a {
                                    background: rgba(157, 192, 71, 0.15);
                                }
                            }
                        }
                    }
                }
                &.is--open {
                    .catalog {
                        &__list {
                            &__aside {
                                &__dropdown {
                                    &__label {
                                        background: #fff;
                                        color: #5A5A5A;
                                        border-bottom-left-radius: 0;
                                        border-bottom-right-radius: 0;
                                        span {
                                            &.is--arrow {
                                                transform: none;
                                                svg {
                                                    fill: #5A5A5A;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &__main {
            max-width: 980px;
            width: 100%;
            &__list {
                margin: 0 -15px;
                display: flex;
                flex-wrap: wrap;
            }
        }
        &__paginate {
            padding-top: 50px;
        }
    }
    &__card {
        max-width: 33.3333333%;
        width: 100%;
        padding: 0 15px 30px 15px;
        &__inner {
            background: #fff;
            padding: 20px 35px 40px 35px;
            height: 100%;
        }
        &__top {
            height: 215px;
            margin-bottom: 25px;
            a {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    transition: .25s all ease;
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        &__title {
            margin-bottom: 25px;
            a {
                color: #363636;
                font-size: 18px;
                line-height: 109%;
                span {
                    display: block;
                }
            }
        }
        &__price {
            color: #363636;
            font-size: 24px;
            font-weight: bold;
            line-height: 85.4%;
            margin-bottom: 20px;
            svg {
                vertical-align: middle;
            }
        }
        &__basket {
            &__inner {
                display: inline-flex;
                align-items: flex-end;
            }
            &__icon {
                svg {
                    fill: #5A5A5A;
                }
            }
            &__text {
                color: #363636;
                font-size: 18px;
                margin-left: 12px;
                &:hover {
                    color: #363636 !important;
                }
            }
        }
    }
}

.item {
    padding: 50px 0 90px 0;
    &__top {
        margin-bottom: 130px;
        &__heading {
            margin-bottom: 0;
        }
        &__wrap {
            display: flex;
        }
        &__left {
            max-width: 640px;
            width: 100%;
            padding: 0 30px;
            &__image {
                max-width: 450px;
                width: 100%;
                margin: 0 auto 50px auto;
            }
            &__text {
                margin-left: 24%;
                color: #262626;
                font-weight: 300;
                svg {
                    vertical-align: text-top;
                    fill: #262626;
                    opacity: .7;
                }
            }
        }
        &__right {
            max-width: 560px;
            width: 100%;
            margin-right: auto;
            &__compos {
                margin-bottom: 55px;
                &__heading {
                    color: #262626;
                    font-weight: 600;
                    font-size: 24px;
                }
                ul {
                    li {
                        color: #262626;
                        font-size: 18px;
                    }
                }
            }
            &__desc {
                margin-bottom: 40px;
                p {
                    margin: 0 0 15px 0;
                    color: #262626;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 121.4%;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &__inst {
                margin-bottom: 70px;
                p {
                    margin: 0 0 5px 0;
                    font-size: 18px;
                    color: #262626;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &__controls {
                display: flex;
                align-items: center;
                &__price {
                    background: $c-primary;
                    padding: 14px 45px;
                    border-radius: 50px;
                    margin-right: 55px;
                    span {
                        display: block;
                        color: #fff;
                        &.is--price {
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 85.4%;
                            svg {
                                fill: #fff;
                                width: 20px;
                                height: 20px;
                                vertical-align: baseline;
                                margin-left: 5px;
                            }
                        }
                        &.is--text {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .catalog__card {
                max-width: 25%;
            }
        }
    }
}

.about {
    &__top {
        padding: 50px 0 100px 0;
        &__inner {
            .heading {
                margin-bottom: 45px;
            }
        }
        &__wrap {
            display: flex;
        }
        &__left {
            max-width: 670px;
            width: 100%;
            padding-right: 30px;
        }
        &__right {
            max-width: 610px;
            width: 100%;
            margin-left: auto;
        }
        &__carousel {
            position: relative;
            &__controls {
                button {
                    position: absolute;
                    transition: .25s all ease;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background: $c-primary;
                    padding: 0;
                    display: flex;
                    width: 51px;
                    height: 51px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    top: 50%;
                    margin-top: -25px;
                    &:hover {
                        background: $c-secondary;
                    }
                    svg {
                        fill: #fff;
                    }
                    &.is--prev {
                        left: -14px;
                        svg {
                            transform: rotate(90deg);
                        }
                    }
                    &.is--next {
                        right: -14px; 
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
    &__bottom {
        background: #fff;
        padding: 100px 0;
        &__wrap {
            display: flex;
            margin: -15px;
            &__block {
                padding: 15px;
                display: block;
                position: relative;
                span {
                    display: none !important;
                }
                a {
                    &.is--play {
                        position: relative;
                        display: block;
                        &:hover {
                            &::after {
                                opacity: 1;
                            }
                        }
                        &::after {
                            width: 100px;
                            height: 100px;
                            content: '';
                            position: absolute;
                            background-image: url(../../img/play.svg);
                            z-index: 10;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin: -50px auto 0 auto;
                            transition: .25s all ease;
                            opacity: .7;
                        }
                    }
                }
            }
            &__right,
            &__left {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    .heading {
        margin-bottom: 40px;
    }
    &__left {
        width: 47%;
        padding-right: 60px;
        &__inner {
            padding-top: 55px;
            padding-bottom: 130px;
        }
    }
    &__right {
        width: 53%;
        #map {
            min-height: 100%;
            height: 1px;
        }
    }
    &__adres {
        margin-bottom: 35px;
        ul {
            li {
                margin-bottom: 15px;
                font-weight: 300;
                font-size: 18px;
                line-height: 98.9%;
                color: #363636;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__links {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
        &__block {
            padding: 0 15px;
            max-width: 50%;
            width: 100%;
            &.is--mb {
                margin-bottom: 90px;
            }
            &__d {
                font-weight: 300;
                font-size: 18px;
                line-height: 98.9%;
                color: #363636;
                white-space: nowrap;
                margin-bottom: 10px;
            }
            &__n {
                font-size: 18px;
                line-height: 98.9%;
                color: #363636;
                margin-bottom: 15px;
            }
        }
        &__inner {
            display: flex;
            align-items: flex-end;
        }
        &__icon {
            svg {
                fill: #5A5A5A;
            }
        }
        &__text {
            font-weight: 600;
            font-size: 18px;
            color: #363636;
            margin-left: 10px;
        }
    }
}

.search {
    padding: 50px 0 130px 0;
    &__wrap {
        max-width: #{1090px + 60px};
        width: 100%;
    }
    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 55px;
        &__left {
            .heading {
                margin-bottom: 0;
            }
        }
        &__right {
            padding-bottom: 15px;
            font-weight: 300;
            font-size: 18px;
            line-height: 98.9%;
            color: #363636;
            b {
                font-weight: normal;
            }
        }
    }
    &__result {
        margin-bottom: 80px;
        ul {
            li {
                margin-bottom: 25px;
                border-bottom: 1px solid rgba(157, 192, 71, 0.53);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__block {
            &__inner {
                display: block;
                padding: 0 0 10px 0;
                color: #363636;
                &:hover {
                    color: #363636 !important;
                    .search {
                        &__result {
                            &__block {
                                &__title {
                                    color: $c-primary;
                                }
                            }
                        }
                    }
                }
            }
            &__title {
                font-weight: 600;
                font-size: 18px;
                line-height: 98.9%;
                transition: .25s all ease;
                margin-bottom: 15px;
            }
            &__desc {
                font-weight: 300;
                font-size: 18px;
                line-height: 98.9%;
                max-width: 720px;
            }
        }
        &__empty {
            font-size: 18px;
        }
    }
}

.art {
    padding: 50px 0 160px 0;
    &__inner {
        max-width: #{760px + 60px};
    }
}

.basket {
    padding: 50px 0 80px 0;
    &__bg {
        background-image: url(../../img/basket_bg.png);
        background-repeat: no-repeat;
        background-position: 75% bottom;
        background-size: contain;
    }
    &__nbg {
        .heading {
            margin-bottom: 35px;
        }
    }
    &__table {
        margin-bottom: 45px;
        table {
            width: 100%;
            border-spacing: 0;
            th {
                background: $c-primary;
                padding: 22px 55px;
                color: #fff;
                text-align: left;
                font-weight: 600;
                font-size: 24px;
                white-space: nowrap;
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            td {
                padding: 33px 55px;
                background: #fff;
                color: #363636;
                font-size: 18px;
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                .is--circle {
                    text-align: center;
                    display: inline-block;
                    svg {
                        fill: #5A5A5A;
                    }
                    &::after {
                        right: 8px;
                        bottom: 0;
                    }
                }
                &.is--price {
                    color: #363636;
                    font-size: 24px;
                    font-weight: bold;
                    svg {
                        fill: #363636;
                        vertical-align: baseline;
                    }
                }
            }
            tr {
                &.is--spacer {
                    height: 5px;
                }
            }
        }
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &__left {
            font-weight: 600;
            font-size: 24px;
            color: #363636;
            margin: 15px 30px 15px 0;
            span {
                font-weight: bold;
                svg {
                    fill: #363636;
                    vertical-align: baseline;
                }
            }
        }
        &__right {
            .btn {
                margin-left: 15px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.error {
    &__inner {
        display: flex;
        height: 100%;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__left {
        padding: 0 110px 0 70px;
    }
    &__right {
        max-width: 320px;
        .heading {
            white-space: nowrap;
        }
    }
}

@media (max-width: 1440px) {
    .catalog {
        &__list {
            &__aside {
                max-width: 260px;
                min-width: 260px;
                width: 260px;
            }
            &__main {
                max-width: 1030px;
            }
        }
    }
    .basket {
        &__table {
            table {
                tr {
                    th,
                    td {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .banner {
        &__title {
            font-size: 56px;
        }
    }
    .catalog {
        &__card {
            max-width: 50%;
        }
    }
    .item {
        &__bottom {
            &__list {
                .catalog__card {
                    max-width: 50%;
                }
            }
        }
    }
    .about {
        &__top {
            &__wrap {
                align-items: center;
            }
            &__right {
                max-width: 420px; 
            }
        }
    }
    .contacts {
        &__left {
            width: 60%;
        }
        &__right {
            width: 40%;
        }
    }
    .basket {
        &__bg {
            background: none;
        }
        &__table {
            table {
                tr {
                    th {
                        font-size: 20px;
                    }
                    th,
                    td {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .cards {
        &__list {
            flex-wrap: wrap;
            transform: translateY(-25%);
        }
        &__block {
            max-width: 50%;
            margin-bottom: 30px;
        }
        &__inner {
            max-height: 600px;
        }
    }
    .catalog {
        &__list {
            &__aside {
                background: #fff;
                max-width: 320px;
                min-width: 0;
                width: 100%;
                padding: 20px;
                position: fixed;
                min-height: calc(100vh - 70px);
                left: 0;
                top: 70px;
                z-index: 9999999;
                margin-right: 0;
                transform: translateX(-100%);
                transition: .25s all ease;
                height: calc(100% + -70px);
                overflow: auto;
                &__mobile {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-flow: wrap;
                    margin-bottom: 30px;
                }
                .catalog__list__heading__mobile {
                    display: block;
                    margin: 0;
                    order: 1;
                }
                .catalog__list__heading__sort {
                    display: block;
                    z-index: 100;
                    position: relative;
                    order: 0;
                }
            }
            &__heading {
                flex-wrap: wrap;
                &__left {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &__right {
                    width: 100%;
                }
                &__sort {
                    display: none;
                }
                &__all {
                    margin-left: 0;
                }
                &__mobile {
                    display: block;
                    margin-left: auto;
                    padding-left: 10px;
                }
            }
        }
    }
    .item {
        &__top {
            &__wrap {
                flex-wrap: wrap;
            }
            &__left {
                margin: 0 auto 40px auto;
                &__text {
                    br {
                        display: none;
                    }
                }
            }
            &__right {
                max-width: 100%;
                br {
                    display: none;
                }
                &__controls {
                    flex-wrap: wrap;
                    &__basket {
                        width: 100%;
                    }
                    &__price {
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
    .about {
        &__top {
            &__wrap {
                flex-wrap: wrap;
                flex-flow: wrap;
            }
            &__left {
                order: 1;
                padding-right: 0;
                max-width: 100%;
            }
            &__right {
                order: 0;
                max-width: 600px;
                margin: 0 auto 30px auto;
            }
        }
        &__bottom {
            &__wrap {
                flex-wrap: wrap;
                justify-content: center;
                &__left,
                &__right {
                    max-width: 500px;
                    width: 100%;
                }
            }
        }
    }
    .contacts {
        flex-wrap: wrap;
        &__left,
        &__right {
            width: 100%;
        }
        &__left {
            padding-right: 0;
            overflow: hidden;
            &__inner {
                padding-bottom: 50px;
                padding-right: 30px;
            }
        }
        &__links {
            margin: 0;
            &__block {
                max-width: 100%;
                margin-bottom: 30px !important;
                padding-left: 0;
                padding-right: 0;
                &:last-child {
                    margin-bottom: 0 !important;
                }
                &__d {
                    white-space: normal;
                }
            }
        }
        &__right {
            min-height: 0 !important;
            height: 300px;
        }
    }
    .art {
        padding-bottom: 50px;
    }
    .error {
        &__left {
            padding: 0 40px 0 0px;
        }
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 100px 0 250px 0;
        &__inner {
            min-height: 0;
            height: auto;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 30px;
            br {
                display: none;
            }
        }
        &__btn {
            margin-bottom: 0;
        }
    }
    .cards {
        &__list {
            transform: translateY(-12.5%);
        }
        &__block {
            max-width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__inner {
            max-height: 1360px;
        }
    }
    .catalog {
        &__list {
            padding-top: 50px;
            padding-bottom: 20px;
            &__paginate {
                padding-top: 20px;
            }
        }
    }
    .item {
        &__top {
            margin-bottom: 50px;
            &__left {
                padding-left: 0;
                padding-right: 0;
                &__text {
                    margin-left: 0;
                }
            }
            &__right {
                &__compos {
                    margin-bottom: 25px;
                    &__heading {
                        font-size: 20px;
                    }
                    ul {
                        li {
                            font-size: 16px;
                        }
                    }
                }
                &__inst {
                    margin-bottom: 25px;
                    p {
                        font-size: 16px;
                    }
                }
                &__controls {
                    &__price {
                        padding: 14px 25px;
                        span {
                            &.is--price {
                                font-size: 28px;
                                svg {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                            &.is--text {
                                font-size: 16px;
                            }
                        }
                    }
                }
                &__desc {
                    margin-bottom: 20px;
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .about {
        &__top {
            padding-bottom: 50px;
            &__carousel {
                &__controls {
                    button {
                        width: 40px;
                        height: 40px;
                        margin-top: -20px;
                    }
                }
            }
        }
        &__bottom {
            &__wrap {
                &__block {
                    a {
                        &.is--play {
                            &::after {
                                width: 60px;
                                height: 60px;
                                margin-top: -30px;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    .search {
        padding-bottom: 50px;
        &__top {
            flex-wrap: wrap;
            margin-bottom: 35px;
            &__left {
                margin-bottom: 15px;
            }
            &__right {
                width: 100%;
                padding-bottom: 0;
            }
        }
        &__result {
            margin-bottom: 40px;
            &__block {
                &__desc {
                    font-size: 16px;
                }
                &__title {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .basket {
        &__footer {
            &__right {
                .btn {
                    margin: 5px 0;
                }
            }
        }
        &__table {
            table {
                thead {
                    display: none;
                }
                .is--spacer {
                    padding: 0 !important;
                    &:first-child {
                        display: none;
                    }
                }
                tr, td {
                    display: block;
                }
                td {
                    padding: 10px 15px !important;
                    &:first-child {
                        padding-top: 20px !important    ;
                    }
                    &:last-child {
                        padding-bottom: 20px !important ;
                    }
                    &.is--m {
                        &::before {
                            content: attr(data-title);
                            display: block;
                            margin-bottom: 10px;
                            font-weight: bold;
                            color: $c-primary;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .catalog {
        &__card {
            max-width: 100%;
        }
    }
    .item {
        &__bottom {
            &__list {
                .catalog__card {
                    max-width: 100%;
                }
            }
        }
    }
    .error {
        &__inner {
            flex-wrap: wrap;
            align-items: flex-start;
        }
        &__left {
            padding: 0 5vw;
            margin-bottom: 30px;
        }
        &__right {
            .heading {
                white-space: normal;
                br {
                    display: none;
                }
            }
        }
    }
}